#body{
    color: whitesmoke;
    font-size: medium;
    text-align: center;
    font-family : "Special Elite", cursive;
    background-image: linear-gradient(to right, rgb(216, 215, 215),rgb(209, 208, 208),rgb(179, 177, 177),rgb(138, 136, 136),rgb(119, 117, 117),gray );
  };
.result{
  background-color: white;
  color: rgb(245, 125, 104);
  border: 1px dashed goldenrod;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(59, 59, 59);

}